{% load static %}

<!DOCTYPE HTML>
<html>
	<head lang="en">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Abbott U.S.</title>
		<link rel="stylesheet" type="text/css" media="screen" href="/static/resources/stylesheet/stylesheet.css">
	</head>
	<body>

		<!-- Top Navigation -->
		<div id="page">
			<header>
				<section class="head">
				<nav class="nav_head">
					<ul>	
						<li><a title="Site Admin" href="../../../admin")>Admin</a></li>
					</ul>
				</nav>
				</section>
				
				<!-- Main Navigation -->
				<section class="main_menu">
				<nav class="main_menu">
					<ul>	
					<li><a title="Home" href="https://www.abbott.com/">
						<img src="/static/resources/images/icons/logo.png" ></a></li>
					<li><a title="Transportation" href="{% url 'transportation' %}">Transportation</a></li>
					<li><a title="Diabetes Management" href="{% url 'diabetes' %}">Diabetes Management</a></li>
					<li><a title="Nutrition" href="{% url 'nutrition' %}">Nutrition</a></li>
					</ul>
				</section>

				
				<!-- Sub Navigation / Breadcrumb -->
			</header>
						
			<section class="hero">
				<img class="banner" src="/static/resources/images/InfoPanel-WhoWeAre-AtAGlance_short.jpg">
			</section>

<section class="oneColumn whiteBg">
<h1><b>Abbott Programs in Stockton</b></h1>
<h3> Overview of Abbott’s investment in Stockton, including overarching goals and objectives</h3>
<p>
	The Abbott Fund has developed a strategic plan to improve community health by targeting the critical factors driving diabetes in Stockton, California. The plan comprises funding for 5 programs, including funding for the expansion of two existing programs at El Concilio (a medical transportation and a diabetes and obesity intervention program called Healthy Families), one program with  Community Medical Centers (shared medical appointments), and two new programs, including a “kitchen incubator” with the Stockton Chamber of Commerce and a “health care workforce pipeline” in collaboration with  Stockton community stakeholders.

<h3>Brief description of the three expansion programs funded</h3>
<ol>
<li><h4>El Concilio’s Medical Transportation Service</h4>
<p>The El Concilio Medical Transportation Service (MTS) provides weekday health care access transportation services to the urban and rural areas of Stockton and surrounding areas. The program aims to increase access to health care for low-income individuals who need transportation to and from medical care and other supportive services.
MTS serves as a feeder to health clinics, hospitals, mental health services, and social services. The program offers two types of van service: a “circuit” van which makes stops at 11 health and social care destinations, and a “door-to=door” service for disabled individuals who are picked up at home or other preferred locations, and taken to the destinations necessary to meet their medical and social care needs.
</p></li>
<li><h4>El Concilio’s Healthy Families</h4>
<p>Healthy Families is an initiative designed to promote healthy living practices among underserved and
unserved communities, including members of minority, low-income, and rural populations in Stockton.  Through a series of practical and interactive educational workshops conducted in home and community-based settings, the program aims to: increase awareness and prevention of diabetes and cardiovascular disease; demonstrate the value of physical exercise, health-conscious shopping, and smart food choices (including cost-saving strategies); and educate and enroll those who are eligible into MediCal and the Supplemental Nutrition Assistance Program (aka Cal Fresh).</p>

<p>Participants learn about nutrition and diabetes, by attending the following series of six one-hour workshops.</p>
<ul>

<li>Nutrition and Diabetes: includes a local grocery store visit with a nutritionist explaining how to best utilize the grocery store with health in mind. [add description of diabetes component] It also has an online component, showing people how to use online apps to do their grocery shopping.</li>
<li>Cooking: includes an in-home cooking workshop on how to prepare healthy and flavorful foods without using high-calorie foods, and substituting oils, sugars, etc. for better overall health.</li>
<li>Gardening: promotes the creation a victory garden at home and/or with friends, whether participant lives in an apartment or a house.</li>
<li>Exercise:  addresses the need for physical activity, and how little things can make a great impact on overall health.</li>
<li>CalFresh: shows participants how to make those SNAP dollars last for the month and how to spend those dollars for better health.</li>
<li>Grocery Shopping: participants go on a grocery shopping excursion with the instructor for a lesson in making your dollars go farther and staying healthy.</li>
</ul>
<li><h4>Community Medical Center’s Group Medical Visits for Diabetes</h4>
<p>
Community Medical Centers (CMC) has had measurable success in increased control of diabetes among patients who participate in the Group Medical Visits (GMV) that are currently offered at the Channel clinic. Both an English-speaking and a Spanish-speaking cohort meet every two weeks for a two-hour class/appointment. Participants meet in a casual group setting for a facilitated discussion of one of various elements that contribute to the management of diabetes. Individuals meet with their provider privately and are also offered the opportunity of one-on-one coaching with a health educator. Medical assistants collect vitals and any lab paperwork that is requested by the provider.</p></li>
</ol>

<h3>UCLA’s Evaluation Plan</h3>
<p>
UCLA has partnered with the Abbott Fund to develop an evaluation design plan and tools and templates for the purpose of measuring the impact of this multi-year programmatic investment. The evaluation design plan uses a Social Determinants of Health framework to provide a logical foundation for how Abbott’s Fund’s multicomponent programming is expected to impact diabetes outcomes in Stockton. In addition to documenting impact, the evaluation aims to illustrate the contribution of the Abbott Fund to the development of infrastructure, processes, and outcomes of establishing specific programs in Stockton for prevention and management of diabetes.</p>
<p>
This website provides a preliminary look at select participant demographics and other baseline data gathered in the early months of the three expansion programs described above. A data dashboard features key performance indicators selected from each program that are being tracked over time as the number of participants increase and the programs are expanded to serve other sites and target populations. The data presented here provide the foundation from which select indicators will be continuously tracked to assess the effectiveness and impact of Abbott Fund’s investment over time.</p>

</section>
			
		
			<footer>				
				<div class="nav">
					<ul>
						<li><img src="/static/resources/images/icons/logo.png"></li>
					</ul>
					
					<ul>
						<li>Transportation</li>
						<li>Diabetes Management</li>
						<li>Nutrition</li>
					</ul>
					
					<ul>
						<li>Investors</li>
						<li>Newsroom</li>
						<li>Responsibility</li>
						<li>Live Healthy</li>
						<li>Partners</li>
					</ul>
					
					<ul>
						<li>Site Map</li>
						<li>Policies</li>
						<li>Contact</li>
						<li>Global Sites</li>
						<li>Privacy Policy</li>
						<li>Terms & Conditions</li>
					</ul>
					
					<ul>
						<li><b>Follow Abbott</b></li>
						<li>
							<img src="/static/resources/images/icons/facebook.png">
							<img src="/static/resources/images/icons/twitter.png">
							<img src="/static/resources/images/icons/instagram.png">
							<img src="/static/resources/images/icons/youtube.png">
							<img src="/static/resources/images/icons/linkedin.png">
							
						</li>
					</ul>
				</div>
				<div class="disclaimer">
				<p>© 2019 Abbott. All Rights Reserved. Please read the Legal Notice for further details.</p>
				<p>Unless otherwise specified, all product and service names appearing in this Internet site are trademarks owned by or licensed to Abbott, its subsidiaries or affiliates. No use of any Abbott </p>
				<p>trademark, trade name, or trade dress in this site may be made without the prior written authorization of Abbott, except to identify the product or services of the company.</p>
				</div>
			</footer>
		</div>
	</body>
</html>
