<!DOCTYPE HTML>
<html>
	<head lang="en">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Abbott U.S.</title>
		<link rel="stylesheet" type="text/css" media="screen" href="/static/resources/stylesheet/stylesheet.css">
	</head>
	<body>

		<!-- Top Navigation -->
		<div id="page">
			<header>
			    <section class="head">
				<nav class="nav_head">
					<ul>	
						<li><a title="Site Admin" href="../../../admin")>Admin</a></li>
					</ul>
				</nav>
				</section>
				
				<!-- Main Navigation -->
				<section class="main_menu">
				<nav class="main_menu">
					<ul>	
						<li><a title="Home" href="https://www.abbott.com/">
							<img src="/static/resources/images/icons/logo.png" ></a></li>
						<li><a title="Transportation"href="#">Transportation</a></li>
					</ul>
				</section>

				
				<!-- Sub Navigation / Breadcrumb -->
			</header>
						
			<section class="hero">
				<img class="banner" src="/static/resources/images/medical-transportation-services-1.jpg">
			</section>

<section class="oneColumn whiteBg">
<h1><b>El Concilio Medical Transportation Service (MTS)</b></h1>

<p> 
	The MTS program aims to improve access to health and social care for the area’s underserved and unserved residents, with special attention to the experiences and outcomes of individuals who have needs for the prevention or management of diabetes. </p>

<h3>Specific objectives</h3>
<ul>
<li>Make a minimum of 6,000 residents of the identified service area aware of the service></li>
<li>Offer no-cost transportation service to community members between 8am – 4pm on weekdays, completing a “circuit” route that includes 11 preset pick-up/destination sites that are served 4 times daily, and providing door-to-door service for disabled individuals</li>
<li>Transport an estimated 100 riders on a weekly basis to or from a medical appointment</li>
</ul>
</section>
<section>
<h3>Exhibit 1: MTS utilization</h3>

<div class="row">
  <div class="column whiteBg">
    <p>
	Data points (from MTS Driver Log, representing all participants; anticipated n=1200 over 3-month period):
Total # participants over 3-month period, including participation trends (i.e., increases/decreases) from Month 1 to Month 2 to Month 3
Comparison of use by type of service, i.e., door-to-door van or circuit van; measures of initial uptake and frequency of participants’ repeated use by service type over a 3-month period (i.e., range/average # rides per unique user over 3-month period
Draft template narrative: 
Use of MTS was documented by daily driver logs which gather information from all passengers regarding their pick-up and drop-off locations, the reasons for their visits/appointments, whether the visit was related to diabetes, and whether or not they were a first-time passenger.
As of 8/31/19, El Concilio has served XX unique participants through their Medical Transportation Service (MTS). Of the XX participants, YY percent were served by the circuit van while ZZ % were served by the door-to-door option.
During this period, XX percent of participants used MTS one time only, another YY% used it twice, ZZ% used it three times, while the remaining QQ% used the transportation -service four or more times.
There was a XX percent increase in overall use from Month 1 to Month 3 with qqq new riders in Month 2 and rrr new riders in Month 3. In addition, there was increased repeated use over the same time period, i.e., average of 1.3 trips per repeat users in Month 1 increasing to 1.8 trips per repeat users in Month 3. 
Participants gave many different reasons for their use of MTS: XX% reported visits for primary care check-ups; YY% reported visits for preventive health care, such as flu shots; ZZ% were going to the pharmacy; QQ % were visiting for lab work; etc...
XX % reported that their visit was related to diabetes.
   </p></div>
    <div class="column" style="background-color:#bbb;">
    <p>Some text..
    Some text..
Some text..
Some text..
Some text..
Some text..
Some text..Some text..Some text..Some text..Some text..Some text..Some text..Some text..Some text..</p>
  </div>
</div>
</section>
<section class="oneColumn whiteBg">
<h3>Exhibit 2: Participant Demographics</h3>

<p>
	Data points (from all participants who completed a baseline survey, anticipated n=100):
Race/ethnicity
Primary language(s)
Age
Gender/sex
Health insurance status
Draft template narrative: 
A majority of participants who completed a baseline survey reported that they were Hispanic (xx%), while other ethnic/racial groups represented included Caucasians (yy%), African Americans (zz%), Asians (qq%), Native Americans (rr%), Pacific Islanders (ss%), and multi-racial participants (tt%).  
Languages that participants reported speaking at home included English (xx%), Spanish (yy%), Mon-Khmer (zz%), and Punjabi (qq%). In addition, rr% reported speaking other languages at home, including Mandarin, Tagalog, and Russian. 
XX percent of participants were female, YY% were male, and ZZ percent identified as some other gender.
Survey respondents ranged in age from XX to YY with an average age of ZZ. 
Most respondents reported being insured through MediCal (xx%), while other sources of coverage included Healthy Families (yy%), Medicare (zz%), and other insurances (q%).
</p>

<h3>Exhibit 3: Health Services Utilization</h3>

<p>
	Data points (from all participants who completed a baseline survey, anticipated n=100):
Main reason for using MTS	
Transportation problem scale
Number of health appointments scheduled in past 3 months
Number of missed appointments past 3 months related to transportation problems
Use of Hospital ER in past 3 months (yes/no)
Number of ER visits past 3 months
Number of health-related visits related to diabetes or pre-diabetes
Draft template narrative: 
The top three reasons reported for using MTS included not owning or having access to a car (xx%), not feeling safe taking public transportation (yy%),  and other transportation options being too expensive (zz%). Other reasons given included the lack of good public transportation options (qq%) and being disabled and not able to drive (rr%).
When asked how much transportation problems have caused them to miss health care appointments, respondents scored an average of 3.8 on a scale of 1 – 5. 
Survey respondents reported a range of 1 – 4 health appointments scheduled in the past 3 months, with an average of 2.3. XX percent said that they had missed at least one appointment in the past 3 months because of transportation problems, of which yy% reported missing 2 or 3 appointments, and zz% missed 4 or more appointments.

XX percent of respondents had visited a hospital emergency room (ER) in the past three months, of which YY % visited the ER  three or more times.
</p>

<h3>Exhibit 4: Participant Health Status</h3>

<p>Data points (from all participants who completed a baseline survey, anticipated n=100):
Diagnosed with diabetes (yes/no)
Diagnosed with prediabetes (yes/no)
Self-reported health scale (excellent, very good, good, fair, poor)
Draft template narrative: 
XX percent of survey respondents reported that they had been diagnosed with diabetes and an additional YY% said they had prediabetes. The majority of respondents (XX%) said they were in fair (xx%) or poor (yy%) health, while the remaining respondents (YY%) reported being in good (zz%), very good (qq%) or excellent (rr%) health. 
</p>



</section>
			
		
			<footer>				
				<div class="nav">
					<ul>
						<li><img src="/static/resources/images/icons/logo.png"></li>
					</ul>
					
					<ul>
						<li>Transportation</li>
						<li>Diabetes Management</li>
						<li>Nutrition</li>
					</ul>
					
					<ul>
						<li>Investors</li>
						<li>Newsroom</li>
						<li>Responsibility</li>
						<li>Live Healthy</li>
						<li>Partners</li>
					</ul>
					
					<ul>
						<li>Site Map</li>
						<li>Policies</li>
						<li>Contact</li>
						<li>Global Sites</li>
						<li>Privacy Policy</li>
						<li>Terms & Conditions</li>
					</ul>
					
					<ul>
						<li><b>Follow Abbott</b></li>
						<li>
							<img src="/static/resources/images/icons/facebook.png">
							<img src="/static/resources/images/icons/twitter.png">
							<img src="/static/resources/images/icons/instagram.png">
							<img src="/static/resources/images/icons/youtube.png">
							<img src="/static/resources/images/icons/linkedin.png">
							
						</li>
					</ul>
				</div>
				<div class="disclaimer">
				<p>© 2019 Abbott. All Rights Reserved. Please read the Legal Notice for further details.</p>
				<p>Unless otherwise specified, all product and service names appearing in this Internet site are trademarks owned by or licensed to Abbott, its subsidiaries or affiliates. No use of any Abbott </p>
				<p>trademark, trade name, or trade dress in this site may be made without the prior written authorization of Abbott, except to identify the product or services of the company.</p>
				</div>
			</footer>
		</div>
	</body>
</html>
